# --- Laravel Common Environment

APP_NAME="Connect-CMS"
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

LOG_CHANNEL=daily

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

# Cookie Secure setting. Set to true for https.
#SESSION_SECURE_COOKIE=true

# Cache-Control default value.
CACHE_CONTROL=no-store

# HTTP Header Expires default value.
EXPIRES="Thu, 01 Dec 1994 16:00:00 GMT"

# Login link path
LOGIN_PATH="login"

# Self register base role.(comma separator. Not set is guest)
#SELF_REGISTER_BASE_ROLES="role_reporter"

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# --- Connect-CMS Common option

# cURL Options
HTTPPROXYTUNNEL=false
PROXYPORT=
PROXY=
PROXYUSERPWD=
CURL_TIMEOUT=

#OPTION_BATCH_SCHEDULE="signatureA|hh:mm,signatureB|hh:mm,･･･" *hh:mm(0~24h)
#(ex)OPTION_BATCH_SCHEDULE="TestBatchA|02:00,TestBatchB|03:00"

# Custom message.
cc_lang_ja_messages_search_results_empty="検索結果が見つかりませんでした。"
cc_lang_ja_messages_enter_same_email="同じメールアドレスを入力"
cc_lang_ja_messages_input_user_name="表示されるユーザ名を入力します。"

# VerifyCsrfToken except.
VERIFY_CSRF_TOKEN_EXCEPT=""

# Use the container (beta)
USE_CONTAINER_BETA=false

# --- Connect-CMS Migration option

# migration option (Common)
MIGRATION_JOB_MONITOR=true
MIGRATION_JOB_LOG=true
MIGRATION_CONFIG_PATH=/path_to_connect-cms/app/Traits/Migration/sample/migration_config/migration_config.sample.ini

# migration option (NetCommons2)
NC2_DB_CONNECTION=mysql
NC2_DB_HOST=127.0.0.1
NC2_DB_PORT=3306
NC2_DB_DATABASE=netcommons2
NC2_DB_USERNAME=nc2_homestead
NC2_DB_PASSWORD=nc2_homestead
NC2_DB_PREFIX=nc2_
NC2_EXPORT_UPLOADS_PATH=/path_to_nc2/webapp/uploads/

# --- Connect-CMS Services option

# Common api key.
COMMON_API_KEY=""

# Translate API.
TRANSLATE_API_URL=""
TRANSLATE_API_KEY="${COMMON_API_KEY}"

# Automatically create thumbnails from PDF using API.
PDF_THUMBNAIL_API_URL=""
PDF_THUMBNAIL_API_KEY="${COMMON_API_KEY}"

# API pdf to text.
PDF_TO_TEXT_API_URL=""
PDF_TO_TEXT_API_KEY="${COMMON_API_KEY}"

# API photo face mosaic.
FACE_AI_API_URL=""
FACE_AI_API_KEY="${COMMON_API_KEY}"

# --- Connect-CMS Dusk option

# dusk use uploads dir.
#UPLOADS_DIRECTORY_BASE=uploads_dusk/

# manual put dir.
#MANUAL_PUT_BASE=C:\connect-cms-manual\

