/node_modules
/public/debug
/public/hot
/public/storage
/public/themes/Users/*
!/public/themes/Users/themes.ini
/public/themes/Originals/*
!/public/themes/Originals/themes.ini
/public/uploads/*
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.env.dusk.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
!.gitkeep
/connect-cms.code-workspace
.vscode/launch.json
composer.phar

# Option Plugins (対象外部分はオプションプラグインのサンプル)
github_copy.bat
dev_2_option_private.ps1
option_private_2_dev.ps1
sync_dev_2_option_private.sh
sync_option_private_2_dev.sh

/app/ModelsOption/*
!/app/ModelsOption/User\Optionsamples/*
/app/PluginsOption/*
!/app/PluginsOption/User/Optionsamples/*
/app/EnumsOption/*
/app/Console/CommandsOption/*
/database/migrations_option/*
!/database/migrations_option/_readme.txt
!/database/migrations_option/2020_06_03_163936_optionsamples_table.php
/resources/views/plugins_option/*
!/resources/views/plugins_option/user/optionsamples/*
