/node_modules
/public/debug
/public/hot
/public/storage
/public/themes/Users/*
!/public/themes/Users/themes.ini
/public/themes/Originals/*
!/public/themes/Originals/themes.ini
/public/uploads/*
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
!.gitkeep
/connect-cms.code-workspace
.vscode/launch.json
