##########################################################
### 外部プラグインPUSH-Windows用（Connect-CMS環境 → 外部プラグイン）
##########################################################
#
# 外部プラグインをConnect-CMSとは別ディレクトリでGit管理したい場合などに使用する、コピーPowerShellです。
# Connect-CMS環境ディレクトリから、外部プラグインディレクトリにコピーします。
# コピー不要のディレクトリは、コメントアウトしてください。
# 文字コードは Shift-JIS です。
#
# コマンドプロンプトでPowerShellを実行）
# powershell -NoProfile -ExecutionPolicy Unrestricted .\dev_2_option_private.ps1
#

### PATH等の条件を変数に設定
# コピー元のルートPATH
$src_root_dir = "C:\path_to_dev_connect-cms\"

# コピー先のルートPATH
$dist_root_dir = "C:\path_to_option_private_dir\"

# コピー対象のプラグインディレクトリ名
$option_plugin = "pluginname"
$option_plugin_controller_dir = "PluginName"
$option_plugin_resources_dir = "pluginname"
$option_plugin_model_dir = $option_plugin_controller_dir
$option_plugin_command_dir = $option_plugin_controller_dir


### コピー（robocopy <コピー元> <コピー先>）
robocopy "${src_root_dir}app\PluginsOption\User\${option_plugin_controller_dir}" "${dist_root_dir}${option_plugin}\app\PluginsOption\User\${option_plugin_controller_dir}" /s
robocopy "${src_root_dir}app\ModelsOption\User\${option_plugin_model_dir}" "${dist_root_dir}${option_plugin}\app\ModelsOption\User\${option_plugin_model_dir}" /s
robocopy "${src_root_dir}resources\views\plugins_option\user\${option_plugin_resources_dir}" "${dist_root_dir}${option_plugin}\resources\views\plugins_option\user\${option_plugin_resources_dir}" /s
robocopy "${src_root_dir}app\Console\CommandsOption\${option_plugin_command_dir}" "${dist_root_dir}${option_plugin}\app\Console\CommandsOption\${option_plugin_command_dir}" /s

robocopy "${src_root_dir}database\migrations_option" "${dist_root_dir}${option_plugin}\database\migrations_option" /s /xf _readme.txt
robocopy "${src_root_dir}app\EnumsOption" "${dist_root_dir}${option_plugin}\app\EnumsOption" /s

exit
