####################################################
### 環境構築-Linux用（外部プラグイン → Connect-CMS）
####################################################
# 外部プラグインをConnect-CMSとは別ディレクトリでGit管理したい場合などに使用する、コピーshellです。
# 外部プラグインディレクトリから、Connect-CMSディレクトリにコピーします。
# コピー不要のディレクトリは、コメントアウトしてください。
#
# bashで実行
# bash .\sync_option_private_2_dev.sh

# 外部プラグインのあるディレクトリ
src_root_dir='/path_to_option_private_dir/'
# Connect-CMSのあるディレクトリ
dist_root_dir='/path_to_dev_connect-cms/'
# プラグイン名
option_plugin="pluginname"
option_plugin_controller_dir="${option_plugin^}"
option_plugin_resources_dir="${option_plugin}"
option_plugin_model_dir=$option_plugin_controller_dir
option_plugin_command_dir=$option_plugin_controller_dir

# コントローラー
rsync -arvz --delete "${src_root_dir}${option_plugin}/app/PluginsOption/User/${option_plugin_controller_dir}" "${dist_root_dir}app/PluginsOption/User/"
# モデル
rsync -arvz --delete "${src_root_dir}${option_plugin}/app/ModelsOption/User/${option_plugin_model_dir}" "${dist_root_dir}app/ModelsOption/User/"
# ビュー
rsync -arvz --delete "${src_root_dir}${option_plugin}/resources/views/plugins_option/user/${option_plugin_resources_dir}" "${dist_root_dir}resources/views/plugins_option/user/"
# バッチ
rsync -arvz --delete "${src_root_dir}${option_plugin}/app/Console/CommandsOption/${option_plugin_command_dir}" "${dist_root_dir}app/Console/CommandsOption/"
# マイグレーション
rsync -arvz --delete --exclude '2020_06_03_163936_optionsamples_table.php' --exclude '_readme.txt' "${src_root_dir}${option_plugin}/database/migrations_option" "${dist_root_dir}database/"
# シーダー
rsync -arvz "${src_root_dir}${option_plugin}/database/seeds/options/${option_plugin}" "${dist_root_dir}database/seeds/options/"
# Enum
rsync -arvz --delete "${src_root_dir}${option_plugin}/app/EnumsOption" "${dist_root_dir}app/"
# 画像
rsync -arvz --delete "${src_root_dir}${option_plugin}/public/images/plugins/${option_plugin_resources_dir}" "${dist_root_dir}public/images/plugins/"
# メールテンプレート
rsync -arvz --delete "${src_root_dir}${option_plugin}/resources/views/mail_option/${option_plugin_resources_dir}" "${dist_root_dir}resources/views/mail_option/"
# バリデーション
rsync -arvz --delete "${src_root_dir}app/RulesOption/${option_plugin^}" "${dist_root_dir}${option_plugin}/app/RulesOption/"
