/*  Connect-CMS add CSS
------------------------------------- */

/*  body
------------------------------------- */
body {
    background-color: #ffffff;
}

/*  WYSIWYG
------------------------------------- */
/* 追加選択肢の背景色が微妙なので打ち消す設定（TableのClassなど） */
.mce-text {
    color: #000 !important;
    background-color: transparent !important;
}

.mce-active .mce-text {
/*    color: #fff !important;*/
    background-color: transparent !important;
}

.mce-active {
    background-color: #ededee !important;
}

/* WYSIWYG のプレビューでGoogle Map が表示されない問題の対応
   WYSIWYG のプレビュー時に、embed-responsive と iframe の間にspan が生成され、
   そのspan の position が relative になっていることが原因のため、static に設定する。 */
.embed-responsive span.mce-preview-object {
    position: static;
}

/* WYSIWYG で設定できる記事の書式
------------------------------------- */
/* 囲み(グレー) */
.cc-column {
    margin: 15px 0;
    padding: 25px;
    background-color: #f2f2f2;
    border-radius: 7px;
}
/*
#ccMainArea .card-body .column {
    margin: 25px 0;
    border: #999 2px solid;
    background-color: #fff;
}
*/
/* 注意ポイント */
.cc-exclamation {
    padding-left: 1.1rem;
    text-indent: -1.2rem;
}
.cc-exclamation::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url("images/acc_exclamation.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin: 0 5px 3px 0;
}
/* ※印ポイント */
.cc-note {
    padding-left: 0.8rem;
    text-indent: -0.8rem;
}
.cc-note::before {
    content: "";
    display: inline-block;
    width: .8rem;
    height: .8rem;
    background: url("images/acc_note.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin: 0 3px 2px 0;
}
.cc-note + .cc-note {
    margin-top: -10px;
}
/* アイコン(PDF) */
a.cc-icon-pdf:after {
    content: "";
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background: url("images/icon_pdf.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin: 0 0 3px 5px;
}
/* アイコン(Excel) */
a.cc-icon-excel:after {
    content: "";
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background: url("images/icon_excel.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin: 0 0 3px 5px;
}
/* アイコン(Word) */
a.cc-icon-word:after {
    content: "";
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background: url("images/icon_word.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin: 0 0 3px 5px;
}
/* アイコン(外部サイト) */
a.cc-icon-external:after {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url("images/icon_external.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin: 0 0 3px 5px;
}

/* datepicker
------------------------------------- */
/* datepickerの土日 */
.datepicker-days th.dow:first-child,
.datepicker-days td:first-child {
    color: #c42626;
}
.datepicker-days th.dow:last-child,
.datepicker-days td:last-child {
    color: #005dbf;
}

/*  プラグイン追加
------------------------------------- */
#pluginAddModal {
    z-index: 9999;
}

/*  Navbar
------------------------------------- */

/* change: ヘッダーのサイト名リンクがほぼ画面幅いっぱいになるバグ修正
.navbar-brand {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 100px);
} */

.nav-tabs .nav-link.active {
    background-color: #f0f0f0;
}

.card-none {
    border: none;
}

.frame-setting-menu .navbar-light .navbar-nav .nav-link {
    color: #007bff;
}
.frame-setting-menu .navbar-light .navbar-nav .active {
    color: #909090;
    /* padding: 0.5rem; */
    border-bottom: 2px solid #b64c4c;
}

.frame-design-none {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

/* サイト名が長い場合に途切れないようにする */
.cc-custom-brand{
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 4em);
}

/*  Active
------------------------------------- */
.cc-active {
    border-bottom: 2px solid #b64c4c;
}
.cc-active-tr {
    background-color: #f0f0f0;
}

/* タイトルバーフォントの文字色（背景が濃い場合に白にする）
------------------------------------- */
.cc-primary-font-color,
.cc-secondary-font-color,
.cc-success-font-color,
.cc-info-font-color,
.cc-danger-font-color,
.cc-dark-font-color {
    color: white;
}

/* アイコンフォントの文字色（背景が濃い場合に白にする）
------------------------------------- */
.bg-primary .cc-font-color,
.bg-secondary .cc-font-color,
.bg-success .cc-font-color,
.bg-info .cc-font-color,
.bg-danger .cc-font-color,
.bg-dark .cc-font-color {
    color: white;
}

/* H* タグ フレームタイトル
------------------------------------- */
h1.card-header {
    font-size: 1.25rem;
}

/* 文字色
------------------------------------- */
.cc-color-blue {
    color: #0000ff;
}
.cc-color-red {
    color: #ff0000;
}

/* 背景色
------------------------------------- */
.cc-bg-red {
    background-color: #f6a5ab !important;
}

/* カーソル
------------------------------------- */
.cc-cursor-text {
    cursor: text;
}
a.cc-cursor-text:hover {
    text-decoration: none;
}

/* ページネーションをセンタリングする。
------------------------------------- */
.pagination {
    justify-content: center;
}

/* フォントサイズ
------------------------------------- */
.cc-font-80 {
    font-size: 80%;
}
.cc-font-90 {
    font-size: 90%;
}

/* テーブル
------------------------------------- */
@media screen and (max-width: 768px) {
    .cc-table-md-responsive td, .cc-table-md-responsive th {
        display: block;
    }
}
.cc-th-bg-gray th {
    background-color: #f0f0f0;
    font-weight: normal;
}

/* 擬似テーブル
------------------------------------- */
.cc-table-set {
    /*margin-bottom: 2rem;*/
}
.cc-table-set dl {}
.cc-table-set dl dt, .cc-table-set dl dd {
    /*padding: 0.5rem 2rem;*/
    padding: 0rem 0.2rem;
}
.cc-table-set dl dt {
    /*background: #454545;*/
    /*color: #fff;*/
    text-align: center;
/*
    border:1px #dedede solid;
    border-width: 0 1px 1px 0;
*/
}
.cc-table-set dl dd {
/*
    border:1px #333 solid;
    border-width: 0 1px 1px 0;
*/
}

/* カレンダー
------------------------------------- */
.cc-color-sunday {
    color: #cc0033;
}
.cc-color-saturday {
    color: #0000ff;
}

/* 開館カレンダー
------------------------------------- */
.openingcalendar-pdf {
    text-align: right;
}
.openingcalendar-title {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 0;
}
.openingcalendar-monthWrap {
    display: flex;
    justify-content: space-between;
}
.openingcalendar-timeLegend dl {
    display: flex;
    line-height: 1;
    margin: 0 0 5px;
    overflow: hidden;
}
.openingcalendar-timeLegend dl dt {
    width: 15px;
    margin-right: 7px;
}
.openingcalendar-timeLegend dl dd {
    margin-right: 20px;
    width: 100px;
}
.openingcalendar-month-table {
    text-align: center;
    border: 1px solid #dee2e6;
}
.openingcalendar-month-table th {
    font-weight: normal;
}


/* ヘッダーバー
------------------------------------- */
#navbarsExampleDefault {
    z-index: 9999;
}

/* フッター
------------------------------------- */
.footer_494949 {
    background-color: #494949;
    color: #ffffff;
}

/* Card の中のUL
------------------------------------- */
.card ul {
    margin-bottom: 0;
    /* padding-left: 1.5em; POPUPカレンダーのレイアウトに影響あり  */
}

/* Menu
------------------------------------- */
.dropdown-menu {
    /* bootstrap4 デフォルトのままだとヘッダーの画像の後ろに回り込むため  */
    z-index: 9999;
}
/* ハンバーガーメニュー用 */
.hamburger-menu .navbar-light .navbar-toggler {
    border-color: rgba(0,0,0, .5);
    border-radius: 0;
}
.hamburger-menu .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border: none;
    padding: 0px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    position: relative;
    margin: 0 0 0 auto;/* 右寄せ */
}
.hamburger-menu .navbar-light .navbar-toggler-icon {
    background-image:none;
    background-color: rgba(0,0,0, .5);
    width: 30px;
    display: block;
    position: absolute;
    transition: ease .5s;
}
.hamburger-menu .navbar-toggler-icon:nth-of-type(1) {top:7px;height: 2.5px;}
.hamburger-menu .navbar-toggler-icon:nth-of-type(2) {top:14px;height: 3px;}
.hamburger-menu .navbar-toggler-icon:nth-of-type(3) {top:21px;height: 2px;}
.hamburger-menu .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-of-type(1) {
    top:13px;
    height: 2px;
    transform: rotate(45deg);
}
.hamburger-menu .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-of-type(2) {
    opacity: 0;
    height: 2px;
}
.hamburger-menu .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-of-type(3) {
    top:13px;
    height: 2px;
    transform: rotate(-45deg);
}
.hamburger-menu li.nav-item {
    position: relative;
    width: 100%;
}
.hamburger-menu .hamburger-accordion-block {
    width: 100%;
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: rgba(0, 0, 0, 0.5);
}
.hamburger-menu .hamburger-accordion:hover,
.hamburger-menu .hamburger-accordion-block:hover {
    text-decoration: none;
}
.hamburger-menu .hamburger-accordion[aria-expanded="false"]:after,
.hamburger-menu .hamburger-accordion-block[aria-expanded="false"]:after {
    font-family: 'Font Awesome 5 Free';
    content: '\2b';
    font-weight: 600;
    font-size: 1.2rem;
    position: absolute;
    top: 0.2rem;
    right: 0;
    color: rgba(0, 0, 0, 0.5);
}
.hamburger-menu .hamburger-accordion[aria-expanded="true"]:after,
.hamburger-menu .hamburger-accordion-block[aria-expanded="true"]:after {
    font-family: 'Font Awesome 5 Free';
    content: '\f068';
    font-weight: 600;
    margin-top: 1px;
    margin-right: 1px;
    position: absolute;
    top: 0.2rem;
    right: 0;
    color: rgba(0, 0, 0, 0.5);
}

/* FAQ
------------------------------------- */
.faq-list-title p {
    display: inline;
}

/* .card-header よりコピー */
.faq-list-title {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.03); */
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.faq-list-title:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.faq-list-title + .list-group .list-group-item:first-child {
    border-top: 0;
}

.card-group > .card:not(:last-child) .faq-list-title {
    border-top-right-radius: 0;
}

.card-group > .card:not(:first-child) .faq-list-title {
    border-top-left-radius: 0;
}

.accordion > .card:not(:first-of-type) .faq-list-title:first-child {
    border-radius: 0;
}

.accordion > .card .faq-list-title {
    margin-bottom: -1px;
}
/* card子要素（FAQ）が１つのみの場合、タイトル下線が見えないためmargin-bottomをなくす */
.accordion > .card:only-of-type .faq-list-title {
    margin-bottom: 0;
}

/* card子要素（FAQ）が１つのみの場合、本文下線がないためborderをひく */
.accordion > .card:only-of-type .faq-list-body {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* LearningTasks
------------------------------------- */
.learningtasks-list-title p {
    display: inline;
}

/* 管理画面（ページ管理）
------------------------------------- */
.manage-page-selectpage {
    max-width: 150px;
}
.manage-page-pagename {
    min-width: 200px;
}

/* 幅
------------------------------------- */
.cc-w13pct {
    width: 13%;
}
.cc-w20pct {
    width: 20%;
}
.cc-w25pct {
    width: 25%;
}
.cc-w30pct {
    width: 30%;
}
.cc-w40pct {
    width: 40%;
}
.cc-w50pct {
    width: 50%;
}

/* 管理プラグイン（ページ管理）
------------------------------------- */
.cc-page-layout-icon {
    width: 20px;
}
.cc-page-layout-background {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}


/*  Connect-CMS add CSS Bootstrap3
------------------------------------- */

/*
    body { font-family: inherit; }
*/

/* table のレスポンシブ対応
------------------------------------- */
@media screen and (max-width: 768px) {
    .cc_responsive_table td, .cc_responsive_table th {
        display: block;
    }
    .cc_responsive_table th {
        background-color: #f0f0f0;
    }
    .cc_responsive_table thead {
        display: none;
    }
}

.cc_responsive_table_view_thead thead {
    display: table-header-group;
}

/* table のレスポンシブ対応(メディアクエリを使わない)
------------------------------------- */
.cc-force-responsive-table td, .cc-force-responsive-table th {
    display: block;
}
.cc-force-responsive-table th {
    background-color: #f0f0f0;
}
.cc-force-responsive-table thead {
    display: none;
}

/* 入力(input)関係
------------------------------------- */

/* チェックボックス、ラジオボタンの選択用グループラベル */
.cc_label_input_group {
    font-weight: normal;
    width: 100%;
    display: inherit;
    margin-bottom: 0;
    cursor: pointer;
}

/* チェックボックス、ラジオボタンの選択用グループラベル */
.cc_label_panel_list {
    font-weight: normal;
    width: 100%;
    display: inherit;
    margin-bottom: 0;
    cursor: pointer;
}
.cc_label_panel_list .input-group-addon {
    border: none;
    border-right: 1px solid #ccd0d2;
    border-top: 1px solid #ccd0d2;
    border-radius: 0;
}
.cc_label_panel_list .form-control {
    border: none;
    border-radius: 0;
}

.cc_scroll_checkboxes {
    min-height: 100px;
    overflow: auto;
}

/* border 関係
------------------------------------- */
.cc_label_panel_list .cc_border_top_none {
    border-top: none;
}

/* margin 関係
------------------------------------- */
.cc_margin_top_4 {
    margin-top: 4px;
}

/* ul 関係
------------------------------------- */
.cc_ul_padding_top_10 {
    padding-top: 10px;
}

.cc_ul_line_height li {
    line-height: 28px;
}

/* p 関係
------------------------------------- */
.cc_margin_bottom_0 {
    margin-bottom: 0;
}

/* 記事関係
------------------------------------- */
.cc_article {
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 16px;
}

/* 点滅
------------------------------------- */
.blink {
    -webkit-animation: blink 1s ease-in-out infinite alternate;
    animation: blink 1s ease-in-out infinite alternate;
}
@-webkit-keyframes blink {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes blink {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
