
/*  Connect-CMS add CSS
------------------------------------- */
.nav-tabs .nav-link.active {
    background-color: #f0f0f0;
}

.card-none {
    border: none;
}

/* タイトルバーフォントの文字色（背景が濃い場合に白にする）
------------------------------------- */
.cc-primary-font-color,
.cc-secondary-font-color,
.cc-success-font-color,
.cc-info-font-color,
.cc-danger-font-color,
.cc-dark-font-color {
    color: white;
}

/* アイコンフォントの文字色（背景が濃い場合に白にする）
------------------------------------- */
.bg-primary .cc-font-color,
.bg-secondary .cc-font-color,
.bg-success .cc-font-color,
.bg-info .cc-font-color,
.bg-danger .cc-font-color,
.bg-dark .cc-font-color {
    color: white;
}

/* ページネーションをセンタリングする。
------------------------------------- */
.pagination {
    justify-content: center;
}

/* フォントサイズ
------------------------------------- */
.cc-font-90 {
    font-size: 90%;
}






/*  Connect-CMS add CSS Bootstrap3
------------------------------------- */

/*
    body { font-family: inherit; }
*/

/* table のレスポンシブ対応
------------------------------------- */
@media screen and (max-width: 480px) {
    .cc_responsive_table td, .cc_responsive_table th {
        display: block;
    }
    .cc_responsive_table th {
        background-color: #f0f0f0;
    }
    .cc_responsive_table thead {
        display: none;
    }
}

/* 入力(input)関係
------------------------------------- */

/* チェックボックス、ラジオボタンの選択用グループラベル */
.cc_label_input_group {
    font-weight: normal;
    width: 100%;
    display: inherit;
    margin-bottom: 0;
    cursor: pointer;
}

/* チェックボックス、ラジオボタンの選択用グループラベル */
.cc_label_panel_list {
    font-weight: normal;
    width: 100%;
    display: inherit;
    margin-bottom: 0;
    cursor: pointer;
}
.cc_label_panel_list .input-group-addon {
    border: none;
    border-right: 1px solid #ccd0d2;
    border-top: 1px solid #ccd0d2;
    border-radius: 0;
}
.cc_label_panel_list .form-control {
    border: none;
    border-radius: 0;
}

/* border 関係
------------------------------------- */
.cc_label_panel_list .cc_border_top_none {
    border-top: none;
}

/* margin 関係
------------------------------------- */
.cc_margin_top_4 {
    margin-top: 4px;
}

/* ul 関係
------------------------------------- */
.cc_ul_padding_top_10 {
    padding-top: 10px;
}

.cc_ul_line_height li {
    line-height: 28px;
}

/* p 関係
------------------------------------- */
.cc_margin_bottom_0 {
    margin-bottom: 0;
}

/* 記事関係
------------------------------------- */
.cc_article {
    border-bottom: 1px solid #c0c0c0;
}

