
/*  Connect-CMS add CSS
------------------------------------- */

body { font-family: inherit; }

/* table のレスポンシブ対応
------------------------------------- */
@media screen and (max-width: 480px) {
    .cc_responsive_table td, .cc_responsive_table th {
        display: block;
    }
    .cc_responsive_table th {
        background-color: #f0f0f0;
    }
    .cc_responsive_table thead {
        display: none;
    }
}

/* 入力(input)関係
------------------------------------- */

/* チェックボックス、ラジオボタンの選択用グループラベル */

.cc_label_input_group {
    font-weight: normal;
    width: 100%;
    display: inherit;
    margin-bottom: 0;
    cursor: pointer;
}

/* p 関係
------------------------------------- */

.cc_margin_bottom_0 {
    margin-bottom: 0;
}

/* 記事関係
------------------------------------- */

.cc_article {
    border-bottom: 1px solid #c0c0c0;
}

