/* 共通設定 */
/* font_family */
body {
    font-family : sans-serif;
}
/* globalナビはメニューの色合いと合わせる */
.bg-dark {
    background-color: #f88b00 !important;
    padding: 0;
}
.navbar-dark .navbar-brand {
    font-size : 1rem;
    padding-left: 0.5rem;
}
.navbar-dark .navbar-nav .nav-link {
    font-size : 0.8rem;
}
/* 横型メニューのCSS */
/* 横型メニュー color */
.plugin-menus .nav-tabs li.nav-item > a {
    color : #f88b00;
}
.plugin-menus .nav-tabs li.nav-item > a.active {
    border-color : transparent;
}
/* 横型メニュー background */
.plugin-menus .nav-tabs li.nav-item > a {
    background : #f88b00;
}
/* 横型メニュー border */
.plugin-menus .nav-tabs li.nav-item {
    border-top : solid 2px #f88b00;
    border-bottom : solid 2px #f88b00;
    border-left : solid 2px #f88b00;
}
.plugin-menus .nav-tabs li.nav-item:last-child {
    border-right : solid 2px #f88b00;
}
.plugin-menus .nav-tabs .nav-link {
    border-radius : 0;
}
/* 横型メニュー background negative */
.plugin-menus .nav-tabs li.nav-item > a {
    background : transparent;
    padding: 5px 0 0 0;
    display: block;
    height: 100%;
}
.plugin-menus .nav-tabs .nav-link.active {
    height: 100%;
}
.plugin-menus .nav-tabs li.nav-item > a.active ,
.plugin-menus .nav-tabs li.nav-item > a:hover {
    background-color: #f5f8fa50;
}

/* 横型メニュー background-image */
.plugin-menus .nav-tabs {
}
/* 横型メニュー washed */
.plugin-menus .nav-tabs li.nav-item {
    border-top : 0;
    border-bottom : 0;
    height : 43px;
    background-image : url(http://cms.localhost/images/core/theme/menu/horizon/washed/orange_on.png);
    background-repeat : no-repeat;
    background-position : -3px center;
    background-color : transparent;
}
.plugin-menus .nav-tabs li.nav-item:first-child {
    border-left : 0;
}
.plugin-menus .nav-tabs li.nav-item:last-child {
    border-right : 0;
}
.plugin-menus .nav-tabs li.nav-item > a:hover,
.plugin-menus .nav-tabs li.nav-item > a.active {
    background-image : url(http://cms.localhost/images/core/theme/menu/horizon/washed/orange.png);
    background-repeat : no-repeat;
    background-position : -3px center;
    background-color : transparent;
}
/* ページ上部へ戻るボタン page-top */
#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 80%;
    z-index: 9999;
}
#page-top a {
    display: block;
    background: #f88b00;
    color: #fff;
    width: 100px;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    font-size:3rem;
    opacity:1;
} 
#page-top a:hover {
    background: #f88b00;
    text-decoration: none;
    opacity:0.8;
}


/* 縦型（サイド）メニュー menu_vertical */
/* 縦型（サイド）メニュー color */
.plugin-menus .list-group > a.list-group-item {
    color : #ffffff;
}
/* 縦型（サイド）メニュー background */
.plugin-menus .list-group > a.list-group-item {
    color : #ffffff;
    background : #f88b00;
}
.plugin-menus .list-group > a.list-group-item.active,
.plugin-menus .list-group > a.list-group-item:hover {
    background-color : #55555550;
    z-index : 0;
    border-color : transparent;
    text-decoration: none;
}
/* 縦型（サイド）メニュー border */
.plugin-menus .list-group > a.list-group-item {
    border : none;
    border-radius : unset;
}


/* フレームタイトル frame_tittle */
/************/
/* サイト全体設定(メインエリアのみ) site all anchor */
#ccMainArea a:hover {
    color: #f88b0080;
    text-decoration: underline;
}
#ccMainArea a {
    color: #f88b00;
    text-decoration: underline;
}
/************/

/* フレームタイトル color */
.card-header.bg-default {
    color : #ffffff;
}
/* フレームタイトル background */
.card-header.bg-default {
    background : #f88b00;
}
/* フレームタイトル border */
.card-header.bg-default {
    border-color : #ffffff;
    border-bottom-style : solid;
    border-bottom-width : 2px;
}
/* フレームタイトル background-image */
/*******/
/* ブログの記事タイトルの大きさ調整*/
header h2 {
    font-size: 1.3rem;
}
/*******/
.card-header.bg-default {
    font-size: 1.1rem;
    padding-bottom: 10px;    position : relative;
    display : inline-block;
    padding-left : 30px;
    background-color : #f88b00;
}.card-header.bg-default:before {
    position: absolute;
    top: calc(50% - 7px);
    left: 12px;
    top: 18px;
    width: 8px;
    height: 8px;
    content: '';
    border-radius: 50%;
    background: #ffffff;
}
