// エリアに枠線を表示する
@mixin with-border($area-name) {
    min-height: 2.2em;
    position: relative;
    &::after {
        border: 1px dashed $info;
        bottom: 0;
        content: "";
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }

    &::before {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: .2em;
        color: $info;
        content: $area-name;
        left: .5em;
        padding: 0 .4em;
        pointer-events: none;
        position: absolute;
        top: .5em;
        z-index: 3;
    }
}
