// db 用の色指定
$db-base: $primary; //プライマリーカラーを使用する

$_std: $black;
@if darken( grayscale( $primary ), 33% ) == black {
    $_std: $white;
}
@elseif darken( grayscale( $primary ), 66% ) == black {
    $_std: $white;
}

$db-text: $body-color; //文字色
$db-link: $db-base; // リンク色
$db-bgcolor: $body-bg; //背景色
$db-border: $hr-border-color; // 罫線色

$db-sub-text: $_std; //サブ文字色
$db-sub-link: $_std; // サブリンク色
$db-sub-bgcolor: $db-base; // サブ背景色
$db-sub-border: mix( $db-text, $_std, 5%); // サブ罫線色

$db-cap-text: mix( $db-text, $db-base, 70%); // cap文字色
$db-cap-bgcolor: mix( $db-text, $_std, 10% ); // cap背景色
$db-sub-border: mix( $db-text, $_std, 5%); // cap罫線色

$db-shadow: rgba($black, .125); //基本背景色

//データベース：ヘッダー設定
.db-list-header{
    .db-btn{
        width: 100%;
        padding: 0.375rem 0;
        font-size: 1rem;
        text-align: center;
        line-height: 1.6rem;
        border-radius: 0.25rem;
    }
}
@media (min-width: map-get($grid-breakpoints, 'sm')) {
    .db-list-header{
        .db-btn{
            padding: 0.375rem 0.75rem;
        }
    }
}
@media (min-width: map-get($grid-breakpoints, 'md')) {
    .db-list-header{
        .db-btn{
            width: auto;
            padding: 0.375rem 0.5rem;
            font-size: 0.875rem;
            line-height: 1.6rem;
            border-radius: 0.2rem;
        }
    }
}

// データベース：詳細画面
.db-default-detail{
    width: 100%;
    margin-bottom: 1.5rem;
    h2{
        padding: 0.375rem 0 0.375rem 1rem;
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
        font-weight: bold;
        color: $db-cap-text;
        background: $db-cap-bgcolor;
        border-bottom: 1px solid $db-border;
    }
    dl{
        padding-bottom: calc(1rem - 1px);
        margin-bottom: 1rem;
        background-color: $db-bgcolor;
        border-bottom: 1px solid $db-border;
        dt, dd{
            color: $db-text;
            background-color: $db-bgcolor;
        }
        dt{
            padding: 0 0 0.25rem calc(0.5rem - 1px);
            margin-bottom: 0.25rem;
            font-size: 1rem;
            border-bottom: 1px solid $db-border;
        }
        dd{
            padding: 0 0 0 1rem;
            margin-bottom: 0;
        }
        &.type-image{
            margin-bottom: 0.5rem;
            border: none;
            dt{
                display: none;
            }
            dd{
                text-align: center;
                padding: 1rem;
                img{
                    min-width: 50%;
                }
            }
        }
    }
    }
@media (min-width: map-get($grid-breakpoints, 'md')) {
    .db-default-detail{
        h2{
            font-size: 1.5rem;
        }
        dl{
            margin-bottom: 2rem;
            dt{
                padding-left: 1.25rem;
                margin-bottom: 0.5rem;
                font-size: 1.25rem;
            }
            dd{
                padding-left: 3rem;
            }
            &.type-image dd img{
                min-width: 80%;
            }
        }
    }
    }

// データベース：デフォルト
.db-default{
    width: 100%;
    padding: 0;
    margin: 0;
    dl{
        margin-bottom: 1.5rem;
        background-color: $db-bgcolor;
        dt, dd{
            background-clip: border-box;
            padding: 0;
            margin-bottom: 0.5rem;
            color: $db-text;
            border: 1px solid $db-border;
            border-width: 0 0 1px 0;
            background-color: $db-bgcolor;
        }
        dt{
            background-color: $db-cap-bgcolor;
            a{
                display: block;
                padding: 0.375rem 0 0.375rem 1rem;
                font-size: 1.25rem;
            }
        }
        dd{
            padding-bottom: calc(0.5rem - 1px);
            h3{
                padding: 0 0 0.25rem calc(0.5rem - 1px);
                margin-bottom: 0.25rem;
                font-size: 1rem;
                font-weight: bold;
                color: $db-text;
                background-color: $db-bgcolor;
                border-bottom: 1px solid $db-border;
            }
            p{
                padding-left: 1rem;
                margin: 0;
                color: $db-text;
            }
            &.type-image{
                text-align: center;
                padding: 1rem;
                margin-bottom: 0.5rem;
                border: none;
                img{
                    min-width: 50%;
                }
            }
        }
    }
    }
@media (min-width: map-get($grid-breakpoints, 'md')) {
    .db-default{
        overflow: scroll auto;
        > div{
            min-width: 100%;
        }
        dl{
            dt, dd, dd.type-image{
                vertical-align: middle;
                width: auto;
                border-width: 0 1px 1px 0;
            }
            dt{
                a{
                    display: block;
                    padding: 0;
                    height: 100%;
                    font-size: 1rem;
                }
                &:first-child{
                    border-left: 1px solid $db-border;
                }
            } 
            dd p{
                padding: 0;
                color: $db-text;
            }
            &:first-child dt{
                text-align: nowrap;
                border-top: 1px solid $db-border;
                border-right-color: $db-sub-border;
                &:last-child{
                    border-right-color: $db-border;
                }
            }
        }
    }
    }
@media (min-width: map-get($grid-breakpoints, 'lg')) {
    .db-default{
        overflow: auto auto;
    }
    }

// データベース：テーブル
.db-tabel{
    width: 100%;
    overflow: scroll auto;
    padding: 0;
    margin: 0;
    > div{
        min-width: 100%;
    }
    dl{
        background-color: $db-bgcolor;
        dt, dd{
            background-clip: border-box;
            vertical-align: middle;
            color: $db-text;
            border: 1px solid $db-border;
            border-width: 0 1px 1px 0;
        }
        dt{
            background-color: $db-cap-bgcolor;
            a{
                display: block;
                padding: 0;
                height: 100%;
                font-size: 1rem;
            }
            &:first-child{
                border-left: 1px solid $db-border;
            }
        }
        dd{
            background-color: $db-bgcolor;
        }
        &:first-child{
            dt{
                text-align: nowrap;
                border-top: 1px solid $db-border;
                border-right-color: $db-sub-border;
                &:last-child{
                    border-right-color: $db-border;
                }
            }
        }
    }
    }

// データベース：リスト
.db-list{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    .db-adata{
        width: 100%;
        position: relative;
        padding-bottom: 3rem; /*詳細ボタン設置用*/
        margin-bottom: 1rem;
        color: $db-text;
        background-color: $db-bgcolor;
        border: 1px solid $db-border;
        border-radius: 0.25rem;
        @include clearfix();

        .main-image{
            float: left;
            overflow: hidden;
            width: 30%;
            height: 100%;
            border-top-left-radius: 0.25rem;
            a{
                img{
                }
            }
        }
        h2{
            float: right;
            overflow: hidden;
            width: calc( 70% - 0.25rem );
            padding: 0;
            margin: 0 0 0.5rem;
            color: $db-cap-text;
            border-top-right-radius: 0.25rem;
            background-color: $db-cap-bgcolor;
            a{
                display: block;
                padding: 0.2rem 0 0.2rem 0.5em;
                font-size: 1.1rem;
                font-weight: bold;
            }
        }
        .db-contents{
            width: calc(70% - 0.25rem);
            float: right;
            padding: 0;
            margin: 0;
            background-color: $db-bgcolor;
            div{
                padding-bottom: calc(0.5rem - 1px);
                margin-bottom: 0.5rem;
                background-color: $db-bgcolor;
                border-bottom: 1px solid $db-border;
                h3{
                    padding: 0 0 calc(0.2rem - 1px) 0.5rem;
                    margin-bottom: 0.1rem;
                    font-weight: bold;
                    font-size: 1rem;
                    color: $db-text;
                    background-color: $db-bgcolor;
                    border-bottom: 1px solid $db-border;
                }
                p{
                    padding-left: 1rem;
                    margin: 0;
                    color: $db-text;
                    background-color: $db-bgcolor;
                }
            }
        }
        button{
            position: absolute;
            bottom: 0.5rem;
            right: 0.5rem;
        }
        &.no-image{ 
            padding-bottom: 0;
            h2{
                width: 100%;
                float: none;
                color: $db-cap-text;
                background-color: $db-cap-bgcolor;
                border-top-left-radius: 0.25rem;
            }
            .db-contents{
                width: calc(100% - 1rem);
                float: none;
                padding: 0;
                margin: 0 0.5rem 3.5rem 0.5rem;
                color: $db-text;
                background-color: $db-bgcolor;
            }
        }
    }
    }
@media (min-width: map-get($grid-breakpoints, 'md')) {
    .db-list .db-adata{
        //左右二分割用
        width: calc(50% - 0.5rem);
    }
    }

// データベース：カード
.db-card{
    display: inline-flex;
    flex-wrap: wrap;
    //justify-content: space-between;
    justify-content: start;
    width: 100%;
    .db-adata{
        position: relative;
        margin-bottom: 1rem;
        color: $db-text;
        border: 1px solid $db-border;
        border-radius: 0.25rem;
        background-color: $db-bgcolor;
        .main-image{
            width: 100%;
            overflow: hidden;
            position: relative;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
            background-color: $db-bgcolor;
            a{
                img{}
            }
        }
        h2{
            padding: 0;
            margin-bottom: 0.5rem;
            color: $db-cap-text;
            background-color: $db-cap-bgcolor;
            a{
                display: block;
                padding: 0.4rem 0 0.4rem 0.5em;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
        .db-contents{
            width: calc(100% - 1rem);
            float: none;
            padding: 0;
            margin: 0 0.5rem 3.5rem 0.5rem;
            div{
                padding-bottom: calc(0.5rem - 1px);
                margin-bottom: 0.5rem;
                background-color: $db-bgcolor;
                border-bottom: 1px solid $db-border;
                h3{
                    padding: 0 0 calc(0.2rem - 1px) 0.5rem;
                    margin-bottom: 0.1rem;
                    font-weight: bold;
                    font-size: 1rem;
                    color: $db-text;
                    background-color: $db-bgcolor;
                    border-bottom: 1px solid $db-border;
                }
                p{
                    padding-left: 1rem;
                    margin: 0;
                    color: $db-text;
                }
            }
        }
        button{
            position: absolute;
            bottom: 0.5rem;
            right: 0.5rem;
        }
    }
    }
@media (min-width: map-get($grid-breakpoints, 'md')) {
    .db-card .db-adata{
        width: calc(50% - 0.5rem);
        margin-right: 0.5rem;
    }
    }
@media (min-width: map-get($grid-breakpoints, 'lg')) {
    .db-card .db-adata{
        width: calc(33% - 1rem);
        margin-right: 1rem;
    }
    }
@media (min-width: map-get($grid-breakpoints, 'xl')) {
    .db-card .db-adata{
        width: calc(25% - 1rem);
    }
    }

// データベース：メニュー
.db-menu{
    display: none;
    }
@media (min-width: map-get($grid-breakpoints, 'lg')) {
   .db-menu{
        display: block;
        .db-adata{
            display: flex;
            width: 100%;
            height: 5rem;
            position: relative;
            overflow: hidden;
            margin-bottom: 1rem;
            border: 1px solid $db-base;
            border-radius: 0.25rem;
            background-color: $db-base;
            a{
                &.main-image{
                    display: block;
                    height: 5rem;
                    width: 35%;
                    border-top-left-radius: 0.25rem;
                    background-color: $db-bgcolor;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            dl{
                display: block;
                overflow: hidden;
                width: 65%;
                height: 5rem;
                dt{
                    a{
                        padding: 0.4rem 0 0.3rem 0.5rem;
                        display: block;
                        font-size: 0.8rem;
                        color: $db-text;
                        background-color: $db-cap-bgcolor;
                    }
                }
                dd{
                    padding-left: 0;
                    a{
                        display: block;
                        color: $db-sub-text;
                        font-size: 0.9rem;
                        line-height: 1.5rem;
                        padding-left: 0.5rem;
                    }
                }
            }
            &.no-thum {
                dl {
                    width: 100%;
                }
            }
            &.no-title.no-catch {
                display: block;
                width: 100%;
                a{
                    display: block;
                    width: 100%;
                    &.main-image{
                        width: 100%;
                    }
                }
            }
        }
   }
   }

