/**
 * マニュアル用CSS
 *
 * @author 永原　篤 <nagahara@opensource-workshop.jp>
 * @copyright OpenSource-WorkShop Co.,Ltd. All Rights Reserved
 */
.img-manual {
    width: 100%;
    max-width: 980px;
}
.smp-nav-link {
    color: #007bff;
}
.smp-nav-nolink {
    color: #ffffff;
}
